#turnTrackerHelper {
    height: 100%;
    width: 40px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgb(160, 160, 160);
}

#turnTrackerHelper img {
    height: 75px;
    width: 40px;
    margin: 5px 0px;
}

#turnTrackerHelper img[src=""] {
    visibility: hidden;
}

#turnTracker {
    height: 100%;
    width: 90px;
    position: fixed;
    top: 0;
    left: 40px;
    overflow: hidden;
    text-align: center;
    /* padding-top: 10px; */
    background-color: rgb(160, 160, 160);
}

#turnTracker img {
    height: 75px;
    width: 75px;
    margin: 5px 0px;
    border-style: solid;
    background-color: white;
    /* Change depending on team? */
}

#turnTracker img[src=""] {
    visibility: hidden;
}

#moveReader {
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 130px;
    /* right: 0; */
    overflow: hidden;
    text-align: center;
    background-color: rgb(160, 160, 160);
    border-left: solid;
}

.beastKitBox {
    margin: 15px 5px;
    background-color: lightgray;
    border: solid black;
}

#main {
    /* Same as the width of the turn tracker */
    margin-left: 390px;
    /* was 130px */
    /* Same as the width of the move reader */
    /* margin-right: 260px; */
}

img.mainBeastImg {
    max-height: 75px;
    max-width: 75px;
    text-align: center;
    margin: 0 auto;
}

#nextTurnBtn,
#roundLbl,
#round,
#calcTurnsBtn {
    visibility: hidden;
}